{% load static %}

<html>
    <head>
        <title>Make comics</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
<!--        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" >-->
<!--        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" type="text/css">-->
    </head>
    <body>
        <div class="page-header">
            <h1><a href="">Nataly's narration</a></h1>
            <h4 >about IMDB top movies</h4>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">

                </div>
            </div>
</div>
    </body>
</html>