{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />

  <title>Greetings</title>
</head>
<body>
<div class="top">
      <ul>
    <li>
      <p>Choose picture or upload yours</p>
    </li>
    <li>
      <p>Input greetings</p>
    </li>
    <li>
      <p>Take a box on the picture</p>
    </li>
    <li>
      <p>Press "Greet"</p>
    </li>
        <li>
      <p>Save a postcard</p>
    </li>
  </ul>
<div>
  <form method="POST" action="{% url 'greet' %}">
    {% csrf_token %}
    {% for field in form %}
      {{ field }}
    {% endfor %}
<!--    <textarea placeholder="Input greetings ..."></textarea>-->
    <input type="submit" value="Greet" id="greet_btn">
  </form>
      <input type="submit" value="Save" id="save_btn">
    <input type="submit" value="Load your picture" id="load_btn">
  </div>
</div>

<div class="container">
  <div
      class="slide"
      style="background-image: url({% static '/images/photo-1610483041998-108421c1a4dc.jpeg' %});"
      datasrc="photo-1610483041998-108421c1a4dc.jpeg"
  >
    <h3>Stockholm, Sweden</h3>
  </div>
  <div
      class="slide"
      style="background-image: url({% static '/images/photo-1513635269975-59663e0ac1ad.jpeg' %});"
      datasrc="photo-1513635269975-59663e0ac1ad.jpeg"
  >
    <h3>London, United Kingdom</h3>
  </div>
  <div
      class="slide"
      style="background-image: url({% static '/images/photo-1547566420-c0036b49cb8d.jpeg' %});"
      datasrc="photo-1547566420-c0036b49cb8d.jpeg"
  >
    <h3>Paris, France</h3>
  </div>
  <div
      class="slide"
      style="background-image: url({% static '/images/photo-1630933868840-1e9299a5b8dd.jpeg' %});"
      datasrc="photo-1630933868840-1e9299a5b8dd.jpeg"
  >
    <h3>Athens, Greece</h3>
  </div>
  <div
      class="slide"
      style="background-image: url({% static '/images/photo-1523906834658-6e24ef2386f9.jpeg' %});"
      datasrc="photo-1523906834658-6e24ef2386f9.jpeg"
  >
    <h3>Venezia, Italy</h3>
  </div>
</div>

<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/listen.js' %}"></script>

</body>
</html>

